<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>naqern.pbveb@tznvy.pbz</string>
	<key>contactName</key>
	<string>Andrea Coiro</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Moka</string>
	<key>uuid</key>
	<string>5837133F-5A93-4175-A423-48E84A45C50B</string>
</dict>
</plist>
